<h1>Profil Developer</h1>
<hr>
Nama: Hamada Hilmi <br>
Alamat: Duren Sawit <br>
No. Telp: 081380714004 <br>
Role: <%= jabatan %> <br>
Jenis Kelamin: <%= gender %> <br>
Gaji Pokok: Rp <%= gaji.toLocaleString('id-ID') %> <br>


<!-- cara penulisan pertama logic backend di ejs -->
<!-- buka tutup tag ejs stiap baris sampai logicnya selesai -->
<!-- htmlnya bisa auto ketik, karena htmlnya free akan tampil sesuai blok logic -->
<% if (gaji > 5000000) { %>
    Status <b>kena Pajak Perhasilan 2.5%</b>
<% } else { %>
    Satus <b>Tidak perlu bayar pajak</b>
<% }%>

<hr>

<!-- cara penulisan kedua logic backend di ejs -->
<!-- buka tutup tag ejs hanya sekali  -->
<!-- htmlnya tidak bisa auto ketik, karena htmlnya di eksekusi di dalam function append sebagai string -->
<% 
    if (gaji > 5000000) {
        __append('Status: <b>kena Pajak Penghasilan 2.5% </b>')
    } else {
        __apeend('Status: <b>Tidak perlu bayar pajak</b>')
    }
%>


<hr><hr>