<h1>Input Karyawan baru</h1>
<hr>
<form action="/karyawan/proses-insert" method="post">
    <label>Nama Lengkap</label>
    <input type="text" id="nama_lengkap" name="form_nama_lengkap"  required>
    <br><br>

    <h2>Gender</h2>
    <br>
    <input type="radio" id="gender_l" name="form_gender" value="L" required>
    <label>Laki</label><br>
    
    <input type="radio" id="gender_p" name="form_gender" value="P" required>
    <label>Perampuan</label><br>
    <br>
    
    <label>Alamat</label>
    <textarea id="alamat" name="form_alamat" required></textarea>
    <br><br>
    
    <label> Nomor Induk Pegawai</label>
    <input type="text" id="nip" name="form_nip" required>
    <br><br>

    <a  href="/karyawan/tambah">
        <button style="margin: 5px; background-color: aqua;">
            Tambah
        </button>
    </a>

    <!-- <button> </button> -->

</form>